html {
  background-image: linear-gradient(to bottom right, #40c9ff, #e81cff);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  display: none;
}

* {
  font-family: Economica, sans-serif;
}

#navbar {
  position: fixed;
  width: 300px;
  height: fit-content;
  padding: 8px;
  border: 3px solid #147d43;
  top: 2%;
  left: 50%;
  margin-left: -150px;
  background-color: #00d43c;
  text-align: center;
}

a {
  padding: 18px;
  text-decoration: none;
  color: white;
  font-size: 14px;
}

a:hover {
  color: #ff058f;
}

h1 {
  text-align: center;
  color: #00d43c;
  font-size: 32px;
  text-shadow: 2px 2px white;
  font-family: Economica, sans-serif;
}

.information {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

p {
  color: black;
  font-family: Economica, sans-serif;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 30px;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: justify;
  text-justify: inter-word;
}

.item {
  border: 3px solid #147d43;
  border-radius: 10px;
  background-color: white;
  width: 400px;
  margin: auto;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .imgbox {
    display: grid;
    height: 50%;
    background-color: #57d3d1;
  }

  .center-fit {
    display: inline;
    max-width: 50%;
    max-height: 50vh;
    margin: auto;
  }

  #navbar {
    display: none;
  }

  h1 {
    text-align: center;
    color: #00d43c;
    font-size: 38;
    text-shadow: 2px 2px black;
    font-family: Economica, sans-serif;
  }

  p {
    color: black;
    font-family: Economica, sans-serif;
    font-size: 24px;
    line-height: 30px;
    margin: auto;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 30px;
    width: 24rem;
    text-align: justify;
    text-justify: inter-word;
  }

  .information {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
  }

  .item {
    padding: 16px;
    border: 3px solid #147d43;
    border-radius: 10px;
    background-color: white;
    margin: 10px;
    flex: 0 0 auto;
    width: auto;
    height: 500px;
    max-width: 100%;
    margin-right: 10px;
    margin-left: 10px;
  }
}
