html {
  background-image: linear-gradient(to bottom right, #40c9ff, #e81cff);
}

* {
  font-family: Economica, sans-serif;
}

body {
  background-image: url("../images/howto.png"), url("../images/howto.png");
  background-position: top left, top right;
  background-size: 150px, 150px; 
  background-repeat:repeat-y, repeat-y;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  width: fit-content;
  height: 30px;
  position: fixed;
  top: 2%;
  left: 35%;
  background-color:#00d43c;
}

a {
  padding: 15px;
  text-decoration: none;
  color:white;
  font-size: 26px;
}

a:hover {
  color: #ff058f;
}

h1 {
  margin: auto;
  margin-top: 2rem;
  text-align: center;
  padding: 1rem;
  left: 28px;
  color: #00D43C;
  font-size: 44px;
  text-shadow: 2px 2px white;
  font-family: Economica, sans-serif;
}

p {
  color: black;
  font-family: Economica, sans-serif;
  font-size: 28px;
  line-height: 30px;
  margin: auto;
  margin-bottom: 30px;
  width: 42rem;
  text-align: justify;
  text-justify: inter-word;
  }
