h1 {
  text-align: center;
  padding: 1rem;
  outline: 5px inset #00D43C;
  color: #00D43C;
  font-size: 40px;
  text-shadow: 2px 2px white;
}

body {
  background-image: linear-gradient(to bottom right, #40C9FF, #E81CFF);
}

p {
  color: black;
  font-family: Economica, sans-serif;
  font-size: 28px;
  line-height: 30px;
  padding: 0.5rem;
  margin: 0 0 24px;
  text-align: justify;
  text-justify: inter-word;
}

dt {
  color: #00D43C;
  font-family: Economica, sans-serif;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  padding-bottom: 1rem;
}

dd {
  color: black;
  font-family: Economica, sans-serif;
  font-size: 28px;
  line-height: 30px;
  padding: 0.5rem;
  margin: 0 0 24px;
  text-align: justify;
  text-justify: inter-word;
}
